.foot {
  margin-top: 100px;
  width: 100%;
  height: fit-content;
  position: absolute;
  background-color: black;
}
.foot img {
  width: 150px;
  background-color: transparent;
  border: none;
  padding: 5px 0 0 0;
  box-shadow: none;
  margin: 0px;
  position: relative;
}
.foot div {
  width: 60%;
}
.spaas {
  color: red;
  background-color: #fff;
}
.foot div.cla {
  width: fit-content;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot .cla::before {
  content: "SINCE";
  font-size: 7px;
  color: aliceblue;
  position: absolute;
  left: 35px;
  top: 20px;
}
.foot .cla::after {
  content: "2011";
  color: aliceblue;
  position: absolute;
  font-size: 7px;
  right: 35px;
  top: 20px;
}
.titulo-final {
  text-align: center;
  font-size: 14px;
  color: #9e9797;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo-final img {
  width: 30px;
  padding-left: 10px;
}
.icons-idioma {
  border-bottom: 1px solid rgb(114, 114, 114);
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
}

.icons {
  width: 50%;
}

.icons .i {
  color: #fff;
  font-size: 20px;
  margin: 0 10px 15px;
  transition: 0.3s ease-out;
}
.icons .i:hover {
  color: #8f8e8e;
}

.legal {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
}
.legal ul {
  display: flex;
}
.legal li {
  padding-right: 20px;
  color: #fff;
  font-size: 10px;
}
.legal li:first-child {
  list-style: none;
}
.legal a {
  font-family: Neue Helvetica, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.625rem;
  color: #fff;
  -webkit-transition: 0.3s ease-out;
  transition: color 0.3s ease-out;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0.07812rem;
}
.legal a:hover {
  color: #8f8e8e;
}
